
    <div class="card-body about">
    <h1>About</h1>
    <p class="">Capture what’s on your mind, Need to remember to pick up some groceries? Set a location-based reminder to pull up your grocery list right when you get to the store. Need to finish a to-do? Set a time-based reminder to make sure you never miss a thing..</p>
    <img src="/img/notes.png" alt="Notes" class="d-flex mw-100">
    </div>
