<div class="jumbotron mt-4">
  <h1 class="dsplay-4">Notes App Node Js and MongoDb</h1>
  <p class="lead">App to save personal notes.</p>
  <hr class="my-4">
  <li>Visualize the notes in the form of stickers</li>
  <li>Create Simple notes</li>
  <li>Aviable for Web</li>
  <hr>
  <h3>Vist My Web Page</h3>
  <a href="http://camilocastillo.ml/" class="btn btn-primary btn-lg">Camilo Castillo</a>
</div>